<ion-view view-title="smspage">
  <ion-content>
   <i class="icon ion-email"></i><h1>SMS</h1> 
   <div class="list">
  <label class="item item-input">
    <input id="numberTxt" placeholder="Entrer un numéro de téléphone" value="" type="tel" />
  </label>
  <label class="item item-input">
    <textarea id="messageTxt" placeholder="Entrer un message"></textarea>
  </label>
  <label class="item item-input">
    <input type="button" ng-click="sendSMS()" value="Envoyer le SMS" />
  </label>
</div>
    </ion-content>
</ion-view>


